In [2]:
import pandas as pd

### Direccion

In [ ]:
CREATE TABLE Direccion
         (direccionID     INT     AUTO_INCREMENT           NOT NULL,
         productorID      INT                              NOT NULL,
         Calle                  VARCHAR(100)                                NULL,
         Numero                 VARCHAR(100)                                NULL,
         Interseccion           VARCHAR(100)                                NULL,
         DescripcionProvincia   VARCHAR(100)                                NULL,
         DescripcionCanton      VARCHAR(100)                                NULL,
         Latitud                INT                                         NULL,
         Longitud               INT                                         NULL,
         PRIMARY KEY (direccionID),
         FOREIGN KEY (productorID) REFERENCES Productor(productorID))

In [12]:
dfCoor = pd.read_csv("/Users/elsa/Desktop/Bootcamp The Bridge/The_Bridge/Ds_Bootcamp_Elsa/Ejercicios/Desafío de tripulaciones/Proyecto/csv_para_base_datos/direccion_id.csv")
dfCoor = dfCoor.rename(columns={'id_productor':'productorID','CALLE':'Calle',
                        'NUMERO':'Numero','INTERSECCION':'Interseccion','DESCRIPCION_PROVINCIA':'DescripcionProvincia','DESCRIPCION_CANTON':'DescripcionCanton','Latitud':'Latitud','Longitud':'Longitud'})
dfCoor

,productorID,Calle,Numero,Interseccion,DescripcionProvincia,DescripcionCanton,Latitud,Longitud
0,1,VIA A PUERTO QUITO,S/N,MARGEN IZQUIERDO,PICHINCHA,PUERTO QUITO,0.160887,-79.226730
1,2,MEDARDO SILVA,S4-252,AURORA ESTRADA,PICHINCHA,QUITO,-0.220164,-78.512327
2,3,VIA SANTA ELENA,LT 1,Null,PICHINCHA,QUITO,-0.220164,-78.512327
3,4,VIA SAN DIMAS,S/N,MARGEN IZQUIERDO,PICHINCHA,PEDRO VICENTE MALDONADO,0.086496,-79.052577
4,5,MEDARDO SILVA,S-4 252,AURORA ESTRADA,PICHINCHA,QUITO,-0.220164,-78.512327
...,...,...,...,...,...,...,...,...
3386,3387,PACHECO,OE6-144,JUAN GARZON,PICHINCHA,QUITO,-0.220164,-78.512327
3387,3388,VIA A LA RUTA DOS,S/N,MARGEN IZQUIERDO,PICHINCHA,PUERTO QUITO,0.160887,-79.226730
3388,3389,VIA LA SEXTA,S/N,MARGEN IZQUIERDO,PICHINCHA,PUERTO QUITO,0.160887,-79.226730
3389,3390,PRINCIPAL,Null,Null,PICHINCHA,PEDRO MONCAYO,-0.214998,-78.496884
3390,3391,DIEGO VELASQUEZ,OE4-122,JHON F KENNEDY,PICHINCHA,QUITO,-0.220164,-78.512327

In [13]:
productorID = []
Calle = []
Numero = []
Interseccion = []
DescripcionProvincia = []
DescripcionCanton = []
Latitud = []
Longitud = []

for elem in dfCoor.productorID:
    productorID.append(elem)
for elem in dfCoor.Calle:
    a = '"'
    Calle.append(a+str(elem)+a)
for elem in dfCoor.Numero:
    a = '"'
    Numero.append(a+str(elem)+a)
for elem in dfCoor.Interseccion:
    a = '"'
    Interseccion.append(a+str(elem)+a)
for elem in dfCoor.DescripcionProvincia:
    a = '"'
    DescripcionProvincia.append(a+str(elem)+a)
for elem in dfCoor.DescripcionCanton:
    a = '"'
    DescripcionCanton.append(a+str(elem)+a)
for elem in dfCoor.Latitud:
    a = '"'
    Latitud.append(a+str(elem)+a)
for elem in dfCoor.Longitud:
    a = '"'
    b = ');'
    Longitud.append(a+str(elem)+a+b)

    
dfCoor = pd.DataFrame({"productorID":productorID,'Calle': Calle, 'Numero': Numero, 'Interseccion': Interseccion, 'DescripcionProvincia': DescripcionProvincia, 'DescripcionCanton': DescripcionCanton, 'Latitud': Latitud, 'Longitud': Longitud})

dfCoor

,productorID,Calle,Numero,Interseccion,DescripcionProvincia,DescripcionCanton,Latitud,Longitud
0,1,"""VIA A PUERTO QUITO""","""S/N""","""MARGEN IZQUIERDO""","""PICHINCHA""","""PUERTO QUITO""","""0.1608869""","""-79.22673035017803"");"
1,2,"""MEDARDO SILVA""","""S4-252""","""AURORA ESTRADA""","""PICHINCHA""","""QUITO""","""-0.2201641""","""-78.5123274"");"
2,3,"""VIA SANTA ELENA""","""LT 1""","""Null""","""PICHINCHA""","""QUITO""","""-0.2201641""","""-78.5123274"");"
3,4,"""VIA SAN DIMAS""","""S/N""","""MARGEN IZQUIERDO""","""PICHINCHA""","""PEDRO VICENTE MALDONADO""","""0.0864955""","""-79.052577"");"
4,5,"""MEDARDO SILVA""","""S-4 252""","""AURORA ESTRADA""","""PICHINCHA""","""QUITO""","""-0.2201641""","""-78.5123274"");"
...,...,...,...,...,...,...,...,...
3386,3387,"""PACHECO""","""OE6-144""","""JUAN GARZON""","""PICHINCHA""","""QUITO""","""-0.2201641""","""-78.5123274"");"
3387,3388,"""VIA A LA RUTA DOS""","""S/N""","""MARGEN IZQUIERDO""","""PICHINCHA""","""PUERTO QUITO""","""0.1608869""","""-79.22673035017803"");"
3388,3389,"""VIA LA SEXTA""","""S/N""","""MARGEN IZQUIERDO""","""PICHINCHA""","""PUERTO QUITO""","""0.1608869""","""-79.22673035017803"");"
3389,3390,"""PRINCIPAL""","""Null""","""Null""","""PICHINCHA""","""PEDRO MONCAYO""","""-0.21499770000000004""","""-78.4968845"");"
3390,3391,"""DIEGO VELASQUEZ""","""OE4-122""","""JHON F KENNEDY""","""PICHINCHA""","""QUITO""","""-0.2201641""","""-78.5123274"");"

In [ ]:
dfCoor.to_csv('direccionlina.sql')

In [ ]:
CREATE TABLE Productor
         (productorID     INT     AUTO_INCREMENT      PRIMARY KEY     NOT NULL,
         razonSocial        VARCHAR(100)                                NULL,
         nombreComercial    VARCHAR(100)

In [6]:
df = pd.read_csv("/Users/elsa/Desktop/Bootcamp The Bridge/The_Bridge/Ds_Bootcamp_Elsa/Ejercicios/Desafío de tripulaciones/Proyecto/csv_para_base_datos/productores_id.csv")
df = df.rename(columns={'id_productor':'productorID','RAZON_SOCIAL':'razonSocial',
                                   'NOMBRE_COMERCIAL':'nombreComercial'})

df

      productorID                        razonSocial           nombreComercial
0               1     QUIROZ ALVEAR GERMAN FRANCISCO                      Null
1               2     DONOSO JARAMILLO JOSE FERNANDO          FINCA EL PARAISO
2               3     DONOSO JARAMILLO JOSE FERNANDO          FINCA EL PARAISO
3               4     DONOSO JARAMILLO JOSE FERNANDO          FINCA EL PARAISO
4               5     DONOSO JARAMILLO JOSE FERNANDO          FINCA EL PARAISO
...           ...                                ...                       ...
3386         3387  SARMIENTO GUALLPA MANUEL LEONARDO  FINCA HERMANOS SARMIENTO
3387         3388     PEREZ QUEZADA CARLOS FRANCISCO                      Null
3388         3389      LOPEZ VILLEGAS MILTON MARCELO                      Null
3389         3390         PILA PUJOTA SEGUNDO SANTOS                      Null
3390         3391                  ZILOAGRO CIA LTDA                      Null

[3391 rows x 3 columns]

In [7]:
productorID = []
razonSocial = []
nombreComercial = []

for elem in df.productorID:
    productorID.append(elem)
for elem in df.razonSocial:
    a = '"'
    razonSocial.append(a+str(elem)+a)
for elem in df.nombreComercial:
    a = '"'
    b = ');'
    nombreComercial.append(a+str(elem)+a+b)


    
df = pd.DataFrame({"productorID":productorID,'razonSocial': razonSocial, 'nombreComercial': nombreComercial})

df

,productorID,razonSocial,nombreComercial
0,1,"""QUIROZ ALVEAR GERMAN FRANCISCO""","""Null"");"
1,2,"""DONOSO JARAMILLO JOSE FERNANDO""","""FINCA EL PARAISO"");"
2,3,"""DONOSO JARAMILLO JOSE FERNANDO""","""FINCA EL PARAISO"");"
3,4,"""DONOSO JARAMILLO JOSE FERNANDO""","""FINCA EL PARAISO"");"
4,5,"""DONOSO JARAMILLO JOSE FERNANDO""","""FINCA EL PARAISO"");"
...,...,...,...
3386,3387,"""SARMIENTO GUALLPA MANUEL LEONARDO""","""FINCA HERMANOS SARMIENTO"");"
3387,3388,"""PEREZ QUEZADA CARLOS FRANCISCO""","""Null"");"
3388,3389,"""LOPEZ VILLEGAS MILTON MARCELO""","""Null"");"
3389,3390,"""PILA PUJOTA SEGUNDO SANTOS""","""Null"");"
3390,3391,"""ZILOAGRO CIA LTDA""","""Null"");"

In [8]:
df.to_csv('productorlina.sql')

### Producto

In [13]:
df1 = pd.read_csv("/Users/elsa/Desktop/Bootcamp The Bridge/The_Bridge/Ds_Bootcamp_Elsa/Ejercicios/Desafío de tripulaciones/Proyecto/csv_para_base_datos/productos_id.csv")
df1 = df1.rename(columns={'producto':'Producto'})
df1.head()

      CIIU                                           Producto     IPP     IPC
0  A011601                       CULTIVO DE SANDÍAS, MELONES.  1.1220  1.6830
1  A012201                     CULTIVO DE BANANOS Y PLÁTANOS.  0.2990  0.4485
2  A012801  CULTIVO DE ESPECIAS DEL GÉNERO CAPSICUM: AJÍES...  0.3917  0.5876
3  A011122                                 CULTIVO DE ARVEJA.  0.4743  0.7114
4  A021002  CULTIVO DE MONTE BAJO (ARBUSTOS), MADERA PARA ...  1.2901  1.9352

In [15]:
#Producto
CIIU = []
Producto = []
IPP = []
IPC = []

for elem in df1.CIIU:
    a = '"'
    CIIU.append(a+str(elem)+a)
for elem in df1.Producto:
    a = '"'
    Producto.append(a+str(elem)+a)
for elem in df1.IPP:
    IPP.append(elem)
for elem in df1.IPC:
    IPC.append(elem)


    
df1 = pd.DataFrame({"CIIU": CIIU,'Producto': Producto, 'IPP': IPP,'IPC': IPC})

df1

,CIIU,Producto,IPP,IPC
0,"""A011601""","""CULTIVO DE SANDÍAS, MELONES.""",1.1220,1.6830
1,"""A012201""","""CULTIVO DE BANANOS Y PLÁTANOS.""",0.2990,0.4485
2,"""A012801""","""CULTIVO DE ESPECIAS DEL GÉNERO CAPSICUM: AJÍE...",0.3917,0.5876
3,"""A011122""","""CULTIVO DE ARVEJA.""",0.4743,0.7114
4,"""A021002""","""CULTIVO DE MONTE BAJO (ARBUSTOS), MADERA PARA...",1.2901,1.9352
5,"""A012100""","""CULTIVO DE UVAS PARA VINO Y UVAS PARA SER CON...",0.1872,0.2808
6,"""A011113""","""CULTIVO DE ZANAHORIA AMARILLA, RÁBANO, REMOLA...",0.2499,0.3748
7,"""A011112""","""CULTIVO DE MAÍZ.""",0.2697,0.4045
8,"""A012702""","""CULTIVO DE CACAO.""",1.9420,2.9130
9,"""A012701""","""CULTIVO DE CAFÉ.""",0.2736,0.4104
10,"""A011601""","""CULTIVO DE ALGODÓN.""",2.6061,3.9092
11,"""A011111""","""CULTIVO DE TRIGO.""",0.3942,0.5913
12,"""A012802""","""CULTIVO DE ESPECIAS PERENNES Y NO PERENNES: N...",1.2628,1.8942
13,"""A011603""","""CULTIVO DE LINO Y CÁÑAMO.""",0.2379,0.3568
14,"""A012501""","""CULTIVO DE BAYAS GROSELLAS, GROSELLAS ESPINOS...",1.7653,2.6480
15,"""A011123""","""CULTIVO DE LENTEJA.""",0.8209,1.2314
16,"""A012502""","""CULTIVO DE TOMATES DE ÁRBOL.""",0.1695,0.2543
17,"""A011391""","""CULTIVO DE HONGOS (CHAMPIÑONES) Y TRUFAS.""",0.3140,0.4710
18,"""A011113""","""CULTIVO DE QUINUA.""",1.7310,2.5965
19,"""A011901""","""CULTIVO DE PLANTAS FORRAJERAS: NABOS FORRAJER...",2.4890,3.7335
20,"""A012803""","""CULTIVO DE PLANTAS MEDICINALES, NARCÓTICAS Y ...",5.8723,8.8084
21,"""A012902""","""CULTIVO DE PALMITO.""",0.4175,0.6262
22,"""A012202""","""CULTIVO DE MANGOS.""",0.1090,0.1635
23,"""A012601""","""CULTIVO DE PALMAS DE ACEITE (PALMA AFRICANA).""",1.3998,2.0997
24,"""A011331""","""CULTIVO DE CEBOLLAS PAITEÑAS, CEBOLLAS PERLA,...",0.3742,0.5613
25,"""A011609""","""CULTIVO DE OTRAS PLANTAS DE FIBRAS.""",0.2610,0.3915
26,"""A012301""","""CULTIVO DE NARANJAS.""",0.1438,0.2157
27,"""A011321""","""CULTIVO DE MARACUYÁ.""",0.6160,0.9240
28,"""A011121""","""CULTIVO DE FRÉJOL.""",0.5880,0.8820
29,"""A012204""","""CULTIVO DE PIÑAS.""",0.4114,0.6171
30,"""A011903""","""CULTIVO DE FLORES, INCLUIDA LA PRODUCCIÓN DE ...",0.2870,0.4305
31,"""A011341""","""CULTIVO DE PAPA.""",0.2798,0.4197
32,"""A011200""","""CULTIVO DE ARROZ (INCLUIDO EL CULTIVO ORGÁNIC...",0.2925,0.4388
33,"""A012901""","""CULTIVO DE MATERIALES VEGETALES DE LOS TIPOS ...",0.4877,0.7316
34,"""A012504""","""CULTIVOS DE NUECES COMESTIBLES: ALMENDRAS, AN...",0.7220,1.0830
35,"""A011131""","""CULTIVO DE GRANOS Y SEMILLAS DE SOYA.""",0.5769,0.8654
36,"""A011400""","""CULTIVO DE CAÑA DE AZÚCAR.""",0.0317,0.0475
37,"""A011321""","""CULTIVO DE TOMATES (EXCEPTO TOMATE DE ÁRBOL),...",0.4039,0.6058
38,"""A011399""","""CULTIVO DE OTRAS HORTALIZAS.""",0.1810,0.2715
39,"""A011342""","""CULTIVO DE YUCA.""",0.1226,0.1839
40,"""A011605""","""CULTIVO DE ALBACÁ, RAMIO Y OTRAS PLANTAS DE F...",0.6910,1.0365

In [16]:
df1.to_csv('productolina.sql')

### ProductorProducto

In [ ]:
CREATE TABLE ProductorProducto
        (productorID       INT    AUTO_INCREMENT  NOT NULL,
        CIIU               VARCHAR(15)              NOT NULL,
        PrecioProducto  INT                          NULL, 
        Stock       INT                          NULL,
        PRIMARY KEY (productorID, CIIU),
        FOREIGN KEY (CIIU) REFERENCES Producto(CIIU)
        FOREIGN KEY (productorID) REFERENCES Productor(productorID))

In [25]:
df2 = pd.read_csv("/Users/elsa/Desktop/Bootcamp The Bridge/The_Bridge/Ds_Bootcamp_Elsa/Ejercicios/Desafío de tripulaciones/Proyecto/csv_para_base_datos/productor_producto_id.csv")
df2 = df2.rename(columns={'id_productor':'productorID','CIIU':'CIIU','precio_consumidor':'PrecioProducto','Kg_productor':'Stock'})
df2.head()

   productorID     CIIU  PrecioProducto     Stock
0            1  A012601          2.5196  162719.0
1            2  A012701          0.4925    6030.0
2            3  A012701          0.4925    6030.0
3            4  A012701          0.4925    6030.0
4            5  A012701          0.4925    6030.0

In [26]:
#Producto
productorID = []
CIIU = []
PrecioProducto = []
Stock = []

for elem in df2.productorID:
    productorID.append(elem)
for elem in df2.CIIU:
    a = '"'
    CIIU.append(a+str(elem)+a)
for elem in df2.PrecioProducto:
    PrecioProducto.append(elem)
for elem in df2.Stock:
    Stock.append(elem)
    



    
df2 = pd.DataFrame({"productorID": productorID,'CIIU': CIIU, 'PrecioProducto': PrecioProducto,'Stock': Stock})

df2

      productorID       CIIU  PrecioProducto     Stock
0               1  "A012601"          2.5196  162719.0
1               2  "A012701"          0.4925    6030.0
2               3  "A012701"          0.4925    6030.0
3               4  "A012701"          0.4925    6030.0
4               5  "A012701"          0.4925    6030.0
...           ...        ...             ...       ...
3386         3387  "A012702"          3.4956   20451.0
3387         3388  "A012702"          3.4956   20451.0
3388         3389  "A012702"          3.4956   20451.0
3389         3390  "A011903"          0.5166   54512.0
3390         3391  "A011112"          0.4855   44191.0

[3391 rows x 4 columns]

In [28]:
df2.to_csv('ProductorProductolina.sql')